<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    {{>header}}
    <p>If you wanna help how to know what is the your life purpose, you can call {{TheName}} by his name.
        But if wanna how to use this simple website, you can call {{name}}! </p>

    {{>footer}}
</body>

</html>